table,th,td {
    border: 1px solid black;
}

body {
    text-align: center;
    border: 3px solid black;
    margin: 15px;
    padding: 10px;
}

input[type='text'] { font-size: 24px; }

:root {
  color-scheme: light dark; /* both supported */
}

#addUserButton {
    height: 65%;
    width: 50%;
    font-size: auto;
    border-radius: 12px;
    padding: 12px 28px;
}
.userDataField {
  font-size: 35px;
  padding: 5px;
}

.userDataInput {
    height: 75%;
    width: 70%;
}

.inputField {
 width:40%;
 font-size: 10px;
 text-align: center;
}

.addUserTable {
    width:50%;
    height:10%;
    font-size: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#addUser {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#addUserBody {
    text-align: center;
}

#usersBody {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#usersTable {
    width:70%;
    height:30%;
    font-size: 200%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.formInput{
    font-size: 30px;
}

{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 20px;
}

/* Add a red background color to the cancel button */
.cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

