<html>

  <head>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/scripts.js"></script>
  </head>

  <body>
    <div id="users"></div>
    <div id="addUser">
        <h1>Add user to the list</h1>
        <table class="addUserTable">
          <tbody id="addUserBody">
          <tr>
            <td class="userDataField" >Name: </td>
            <td class="inputField">
              <input class="userDataInput" required id="name" type="text">
            </td>
          </tr>
          <tr>
            <td class="userDataField" >Second name: </td>
            <td class="inputField">
              <input class="userDataInput" required id="secondName" type="text">
            </td>
          </tr>
          <tr>
            <td colspan="2" style="width:40%; font-size: 40px; text-align: center; height: 90px"><button onclick="addUser()" id="addUserButton">Click to add</button></td>
          </tr>
        </tbody>
        </table>
    </div>

    <div style="padding-top 40px;">
      <h1>List of users</h1>
    </div>
    <table id="usersTable">

    <tbody id="usersBody">
    </tbody>

    </table>

    <!-- The form -->
    <div class="form-popup" id="myForm">
      <div class="form-container">

        <label class="formInput" for="name"><b>Name:</b></label>
        <input type="text" placeholder="Enter name" name="name" id="newFirstName">

        <label class="formInput" for="secondName"><b>Second name:</b></label>
        <input type="text" placeholder="Enter second name" name="secondName" id="newLastName">

        <button type="submit" class="btn">Edit</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </div>
    </div>
  </body>
  
</html>