<html>

  <head>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/scripts.js"></script>
  </head>

  <body>
    <div id="users"></div>
    <div id="addUser">
        <h1>Register user</h1>
        <table class="addUserTable">
          <tbody id="addUserBody">

          <tr>
            <td class="userDataField" >Name: </td>
            <td class="inputField">
              <input class="userDataInput" required id="name" type="text">
            </td>
          </tr>

          <tr class="red" id="nameError">
            <td colspan="2">
              Name is invalid
            </td>
          </tr>

          <tr>
            <td class="userDataField" >Last name: </td>
            <td class="inputField">
              <input class="userDataInput" required id="lastName" type="text">
            </td>
          </tr>

          <tr class="red" id="lastNameError">
            <td colspan="2">
              Last name is invalid
            </td>
          </tr>

          <tr>
            <td class="userDataField" >Login: </td>
            <td class="inputField">
              <input class="userDataInput" required id="login" type="text">
            </td>
          </tr>

          <tr class="red" id="loginError">
            <td colspan="2">
              Login is invalid
            </td>
          </tr>

          <tr>
            <td class="userDataField" >Email: </td>
            <td class="inputField">
              <input class="userDataInput" required id="email" type="text">
            </td>
          </tr>

          <tr class="red" id="emailError">
            <td colspan="2">
              <p>Email is invalid</p>
            </td>
          </tr>

          <tr>
            <td class="userDataField" >Country: </td>
            <td class="inputField">
              <input class="userDataInput" required id="country" type="text">
            </td>
          </tr>

          <tr class="red" id="countryError">
            <td colspan="2">
              Country is invalid
            </td>
          </tr>

          <tr>
            <td class="userDataField" >City: </td>
            <td class="inputField">
              <input class="userDataInput" required id="city" type="text">
            </td>
          </tr>

          <tr class="red" id="cityError">
            <td colspan="2">
              City is invalid
            </td>
          </tr>

          <tr>
            <td class="userDataField" >Street: </td>
            <td class="inputField">
              <input class="userDataInput" required id="street" type="text">
            </td>
          </tr>

          <tr class="red" id="streetError">
            <td colspan="2">
              Street is invalid
            </td>
          </tr>

          <tr>
            <td class="userDataField" >House number: </td>
            <td class="inputField">
              <input class="userDataInput" required id="houseNumber" type="text">
            </td>
          </tr>

          <tr class="red" id="houseNumberError">
            <td colspan="2">
              House number is invalid
            </td>
          </tr>

          <tr>
            <td class="userDataField" >Zip code: </td>
            <td class="inputField">
              <input class="userDataInput" required id="zipCode" type="text">
            </td>
          </tr>

          <tr class="red" id="zipCodeError">
            <td colspan="2">
              Zip code is invalid
            </td>
          </tr>

          <tr>
            <td colspan="2" style="width:40%; font-size: 40px; text-align: center; height: 90px"><button onclick="addUser()" class="buttonStyle" id="addUserButton">Click to add</button></td>
          </tr>

          <td colspan="2" style="visibility: hidden">123</td>

        </tbody>
        </table>

      <div style="padding-top: 30px; width: 100%;">
        <label for="sortOptions">Search by:</label>

        <select name="sortOptions" id="sortOptions">
          <option id="sortByName" value="firstName">Name</option>
          <option id="sortByLastName" value="lastName">Last name</option>
        </select>
        <div class="userDataField" style="padding-top: 10px; padding-bottom: 10px";>
          <label for="search"></label><input style="width: 243px;" id="search" type="text">
        </div>
        <div>
          <button style="width: 243px; height: 56px; font-size: 24px;border-radius: 12px"
                  onclick="fetchUsers()"  id="searchButton" >Search</button></div>
      </div>

    </div>

    <div style="padding-top: 40px;">
      <h1>Registered users</h1>
    </div>

    <table id="usersTable">

    <button id="previousPageButton" onclick="loadPreviousPage()">Previous</button>
    <button id="nextPageButton" onclick="loadNextPage()">Next</button>

    <tbody id="usersBody">
    </tbody>
    </table>

    <!-- Update popup -->
    <div class="form-popup" id="updateForm">
      <div class="form-container">

        <label class="formInput" for="name"><b>Name:</b></label>
        <input type="text" placeholder="Enter name" name="name" id="newFirstName">

        <label class="formInput" for="lastName"><b>Last name:</b></label>
        <input type="text" placeholder="Enter second name" name="lastName" id="newLastName">

        <label class="formInput"><b>Login:</b></label>
        <label for="newLogin"></label><input type="text" placeholder="Enter login" name="name" id="newLogin">

        <label class="formInput"><b>Email:</b></label>
        <label for="newEmail"></label><input type="text" placeholder="Enter second name" name="lastName" id="newEmail">

        <label class="formInput"><b>Country:</b></label>
        <label for="newCountry"></label><input type="text" placeholder="Enter country" name="country" id="newCountry">

        <label class="formInput"><b>City:</b></label>
        <label for="newCity"></label><input type="text" placeholder="Enter city" name="city" id="newCity">

        <label class="formInput"><b>Street:</b></label>
        <label for="newStreet"></label><input type="text" placeholder="Enter street" name="street" id="newStreet">

        <label class="formInput"><b>House number:</b></label>
        <label for="newHouseNumber"></label><input type="text" placeholder="Enter house number" name="houseNumber" id="newHouseNumber">

        <label class="formInput"><b>Zip code:</b></label>
        <label for="newZipCode"></label><input type="text" placeholder="Enter zip code" name="zipCode" id="newZipCode">

        <button type="submit" class="btn">Edit</button>
        <button type="button" class="btn cancel" onclick="closeForm('updateForm')">Close</button>
      </div>
    </div>

    <div class="form-popup" id="infoForm">
      <div class="form-container">
        <label class="formInput"><b>Login:</b></label>
        <label for="infoLogin"></label><input disabled type="text" name="infoLogin" id="infoLogin">

        <label class="formInput"><b>Email:</b></label>s
        <label for="infoEmail"></label><input disabled type="text" name="infoEmail" id="infoEmail">

        <label class="formInput"><b>Country::</b></label>
        <label for="infoCountry"></label><input disabled type="text" name="infoCountry" id="infoCountry">

        <label class="formInput"><b>City:</b></label>
        <label for="infoCity"></label><input disabled type="text" name="infoCity" id="infoCity">

        <label class="formInput"><b>Street:</b></label>
        <label for="infoStreet"></label><input disabled type="text" name="infoStreet" id="infoStreet">

        <label class="formInput"><b>House number:</b></label>
        <label for="infoHouseNumber"></label><input disabled type="text" name="infoHouseNumber" id="infoHouseNumber">

        <label class="formInput"><b>Zip code:</b></label>
        <label for="infoZipCode"></label><input disabled type="text" name="infoZipCode" id="infoZipCode">

        <button type="button" class="btn cancel" onclick="closeForm('infoForm')">Close</button>
      </div>
    </div>
  </body>
  
</html>